.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
  flex-direction: column;
  padding: 3rem 5% 3rem 6%;
  position: relative;
}

.nav-logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 0.1rem 0;
  justify-content: space-evenly;
}

.nav-links {
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #fff;
}

.nav-item.active {
  color: #fff;
  border: 1px solid #fff;
}

.nav-icon {
  display: none;
}

/* Circle */

.mark {
  position: relative;
}
.mark:after {
  border: 0.25em solid #2f2f2f;
  border-top: none;
  border-radius: 1.5em 1em 2em 1.5em;
  bottom: -0.3em;
  content: "";
  left: -0.3em;
  position: absolute;
  right: -0.3em;
  top: -0.1em;
}
.mark:before {
  border-top: 0.25em solid #2f2f2f;
  border-radius: 0.5em;
  content: "";
  height: 1em;
  left: 0;
  position: absolute;
  top: -0.3em;
  transform: rotate(-10deg);
  width: 2em;
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 0 1rem;
  }
}
