.loader {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

.loader span {
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  animation: blur 3s linear infinite;
  line-height: 20px;
  transition: all 0.5s;
  letter-spacing: 0.2em;
}

@keyframes blur {
  0%,
  90% {
    filter: blur(0);
  }

  50% {
    filter: blur(10px);
  }
}

@media only screen and (max-width: 768px) {
  .loader span {
    font-size: 2rem;
  }
}
