.inputElement {
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  text-overflow: clip;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 20rem;
  margin-right: 5rem;
}

.inputLabel {
  font-weight: 500;
  margin-right: 0.5rem;
  width: 10rem;
  text-align: end;
}

.dflex {
  display: flex;
  position: relative;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.errorDiv {
  color: rgb(223, 57, 57);
  align-self: center;
  display: flex;
  position: absolute;
  right: -250px;
  width: 300px;
}

.flexContentEnd {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  color: #fff;
  text-shadow: 1px 1px 0px #86672d;
  box-shadow: 1px 1px 1px #c9aa47;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #86672d;
  background: #94643d;
  background: linear-gradient(to top, #94643d, #a06e36);
}
.submitButton:hover {
  background: #a06e36;
  background: linear-gradient(to top, #a06e36, #94643d);
}

.formWrapper {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .formWrapper {
    flex-direction: column;
    margin: 2rem auto;
  }
  .formWrapper form {
    width: 100%;
  }
  .inputElement {
    width: -webkit-fill-available;
    margin: auto;
  }
  .dflex {
    flex-direction: column;
    row-gap: 1rem;
    width: unset;
  }
  .inputLabel {
    text-align: start;
    width: 100%;
    margin-right: unset;
  }
  .errorDiv {
    position: relative;
    width: fit-content;
    inset: unset;
    align-self: end;
  }
  .flexContentEnd {
    margin-bottom: 2rem;
  }
}
